@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


html{
  font-size: 14px;
  font-family:'Montserrat', sans-serif;
}

body{
  background-color: beige;
  text-align:center;
}
body, ul,h1, h2, h3, h4, h5, h6, p {
  margin:0;
  padding:0;
  list-style: none;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
a:hover{
  color:red;
}

.wrapper{
  display: flex;
  justify-content: center;
}

#header {
  background-color: white;
  background-position: center;
  height:70px;
  text-align: center;
}

.title{
  display:inline-block;
  text-align: center;
  padding: 0;
  margin:10px;
  top: 0;
  font-size:1.2em;
}

#nav ul{
  text-align: left;
}

#nav ul li{
  background-color: lightblue;
  filter: drop-shadow(2px 2px 4px #000000);
  padding: 10px;
  margin: auto 10px;
  display: inline-block;
}

#nav ul li:hover{
  background:pink
}

#nav{
  position: absolute;
}

#images {
  margin: 0px 0 0 0;
  min-width: 500px;
  max-width: 900px;
  display: flex;
}

.section{
  position: relative;
  display: flow-root;
  padding: 25px 0;
  margin:20px 40px 60px;
  filter: drop-shadow(2px 2px 4px #000000);
  background-color: pink;
}

.section1 ul li{
  display:  inline-block;
  text-align: center;
}

/* .section video {
  background-color: white;
  background-position: center;
  width: 2000;
  margin: auto;
  display: block;
  text-align: center;
  width: 1200;
  height: 300;
  margin: auto;
  display: flex;
} */

.play{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.stop{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.btn{
  text-align: center;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  margin: 20px;
  padding: 2px 2px;
  cursor: pointer;
}

.btn2{
  text-align: center;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  margin: 20px;
  padding: 2px 2px;
  cursor: pointer;
}

.btn-header{
  color: lightblue;
  font-size: 2em;
  border: 2px solid grey;
  border-radius: 50%;
  background-color: white;
}

.btn:hover{
  background-color: salmon;
}

.btn2:hover{
  background-color: salmon;
}

.desc{
  margin: auto 10px;
  padding: 20px;
  font-weight: bolder;
  font-size:4rem;
  text-align: center;
}

.desc h5{
  font-size:3rem;
  text-align: center;
}

.desc p{
  font-size:1.6rem;
  margin-top: 5px;
  text-align: center;
}

/* FOOTER */
.footer{
background-color: lightblue;
padding: .25em 0;
}

.main-footer-container{
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.main-footer-container ul{
  flex-grow: 1;
  text-align: end;
}

.footer img{
  margin-top: 5px;
  width 4px;
  height 4px;
}

.footer ul{
  display: flex;
}
